.goProductbtn {
  transition: all 1s 0s;
}
.goProductbtn:hover {
  background-color: #51423C;
  color: white;
}
.actionBtn:hover {
  background-color: #627364;
  color: white;
}
#continue:hover {
  background-color: #627364;
}
